/* ------- Container ------- */

#container {
	margin: auto;
	margin-top: 180px;
	width: 524px;
	height: 262px;
	text-align: left;
	font-family: Verdana, Arial;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
}


/* ------- Login Form ------- */

form, .welcome {
	background: url(../images/form-bg.png) top left no-repeat;
	width: 524px;
	height: 262px;
	padding-top: 1px;
}

.login, .welcome-user {
	width: 470px;
	float: left;
	margin-top: 33px;
	margin-left: 40px;
	font-size: 20px;
}

.username-text {
	width: 190px;
	float: left;
	margin-top: 50px;
	margin-left: 40px;
}

.password-text {
	width: 290px;
	float: left;
	margin-top: 50px;
	margin-left: 0px;
}

.welcome-text {
	width: 360px;
	float: left;
	margin-top: 50px;
	margin-left: 40px;
	line-height: 16px;
}

.username-field {
	width: 168px;
	height: 38px;
	float:left;
	margin-top: 10px;
	margin-left: 35px;
	background: url(../images/username-field.png) center left no-repeat;
}

.username-field:hover {
	background: url(../images/username-field-hover.png) center left no-repeat;
}

.password-field {
	width: 280px;
	height: 38px;
	float:left;
	margin-top: 10px;
	margin-left: 22px;
	background: url(../images/password-field.png) center left no-repeat;
}

.password-field:hover {
	background: url(../images/password-field-hover.png) center left no-repeat;	
}

input[type="text"], input[type="password"] {
	width: 120px;
	height: 16px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: Verdana, Arial;
	font-size: 16px;
	color: #2d2d2d;
}

/* ------------ Custom Checkbox ------------------------------- */

/* Works for browsers with CSS3 support (with or without Javascript) */
/* Works for Internet Explorer 6-8 (without CSS3 support) with Javascript */
/* If Javascript isn't available this doesn't work for Internet Explorer 6-8 */

input[type="checkbox"] {
	position: absolute;
	left: -999px;
}

input[type="checkbox"] + label {
	width: 132px;
	height: 24px;
	float: left;
	margin-top: 26px;
	margin-left: 37px;
	padding-left: 28px;
	display: block;
	position: relative;
	line-height: 24px;
	background: url(../images/checkbox-off.png) top left no-repeat;
}

input[type="checkbox"]:checked + label {
	background: url(../images/checkbox-on.png) top left no-repeat;
}

input[type="checkbox"]:checked:hover + label, input[type="checkbox"]:checked:focus + label {
	background: url(../images/checkbox-on-hover.png) top left no-repeat;
}

input[type="checkbox"]:not(:checked):hover + label, input[type="checkbox"]:not(:checked):focus + label {
	background: url(../images/checkbox-off-hover.png) top left no-repeat;
}

/* -------------------------------------------------------------------------- */

.forgot-usr-pwd {
	width: 220px;
	float: left;
	margin-top: 26px;
	margin-left: 0;
	color: #cccccc;
	line-height: 24px;
}

.forgot-usr-pwd a {
	color: #cccccc;
	text-decoration: none;
	font-style: italic;
}

.forgot-usr-pwd a:hover, .forgot-usr-pwd a:focus {
	text-decoration: underline;
}

input[type="submit"] {
	width: 95px;
	height: 73px;
	float: left;
	margin-top: 12px;
	margin-left: 2px;
	font-family: Verdana, Arial;
	font-size: 26px;
	color: #ffffff;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: url(../images/go-hover.png) top left no-repeat;
}

.home {
	width: 70px;
	height: 73px;
	float: left;
	margin-top: 122px;
	margin-left: 21px;
	font-size: 20px;
	padding: 25px 0 0 15px;
}

.home:hover, .home:focus {
	background: url(../images/go-hover.png) top left no-repeat;
}

.home a, .home a:hover, .home a:focus {
	color: #ffffff;
	text-decoration: none;
}